{% extends 'main.html' %}
{% block contenido %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Producto</title>

<!-- Llamando a los estilos y librerias -->
<link href="static/css/jquery.dataTables.min.css" rel="stylesheet"><!-- Estilo de la tabla -->
<script src="static/js/jquery.dataTables.min.js"></script> <!-- Para la paginacion -->
<script src="static/js/bootstrapPager.min.js"></script><!-- para paginacion -->

<!-- auto busqueda -->
<link href="static/css/jquery-ui.min.css" rel="stylesheet">
<script src="static/js/jquery-ui.min.js"></script> 

<!--Para que salga el calendario-->
<link href="static/css/datepicker.css" rel="stylesheet">
<script src="static/js/bootstrap-datepicker.js"></script>


<!--Para Validar los campos -->
<link href="static/css/jquery.validity.css" rel="stylesheet">
<script src="static/js/jquery.validity.js"></script>


<script type="text/javascript">
<!--el ja query se debe colcoar siempre $ y numerar para llamar al id -->
$(function(){
	$('#btncrear').click(function(){<!--  -->
		$('#PanelInsertartProducto').show(); <!--  -->
		$('#btncrear').hide(); <!-- para ocultar el boton-->
	}); 
	
	$('#btncancelar').click(function(){<!--  -->
		$('#PanelInsertartProducto').hide();<!--  -->
		$('#btncrear').show(); <!-- para ocultar el boton-->
	});
	
	$('#btneliminar').click(function(){<!--  -->
		$('#PanelInsertartProducto').show();<!--   -->
	});
	
	$('#fechaelab').datepicker({
		      format:"yyyy-mm-dd"
	});
	$('#fechaven').datepicker({
	      format:"yyyy-mm-dd"
    });
	
	$('#formT').validity(function(){
		$('#nombre')
		 .require();
		
		$('#apaterno')
		 .require();
		
		$('#amaterno')
		 .require();
		
		$('#Cedula')
		.require()
		.match("number");
		
		 $('#celular')
		 .require()
		 .match("number");
		
		});
	
	$('#PanelInsertartProducto').validity("input:text, textarea:textarea, select");
	
});
</script>
</head>
<body>


	<div id="PanelInsertartProducto" style="display: none;"> <!-- no va a mostrar el panel esta oculto -->
		<div class="panel panel-primary"><!-- todo class es tomado desde el bootstrap -->
			<div class="panel-heading">
				<h3 class="panel-title">Formulario  Productos</h3> <!--Nombre del registro -->

			</div>
			<div class="panel-body">
			<div id="formAdd" aling="center">
			<form action="/addproducto" method="post" id="formT" name="formT" 
			class="form-horizontal" role="form"> <!--estilos-->
			
			<div class="form-group">
			<label for="codproducto" class="col-sm-2 control-label">Codigo Producto:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="codproducto" name="codproducto" class="form-control" required="" placeholder="Campo de texto codproducto">
			</div> 
			</div>
			
			<div class="form-group">
			<label for="nombre" class="col-sm-2 control-label">Nombre Prod:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="nombre" name="nombre" class="form-control" required="">
			</div> 
			</div>
			
			<div class="form-group">
			<label for="precio" class="col-sm-2 control-label">Precio Producto:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="precio" name="precio" class="form-control" required="">
			</div> 
			</div>
			
			<div class="form-group">
			<label for="proveedor" class="col-sm-2 control-label">Proveedor:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="proveedor" name="proveedor" class="form-control">
			</div> 
			</div>
			
			<div class="form-group">
			<label for="fechaelab" class="col-sm-2 control-label">Fecha Elabroación:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="fechaelab" name="fechaelab" class="form-control">
			</div> 
			</div>
			
			<div class="form-group">
			<label for="fechaven" class="col-sm-2 control-label">Fecha Vencimiento:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="fechaven" name="fechaven" class="form-control">
			</div> 
			</div>
			

			<div class="form-group">
			<div class="col-sm-10">
				<h4 align="center">
				<input type="submit"  name="btnEnviar"  class="btn btn-success" value="Registrar"> 
				<input type="reset" name="btnLimpiar" class="btn btn-info" value="Limpiar">
				<input type="button" name="btnCancelar" id="btncancelar" class="btn btn-warning" value="Cancelar">
				</h4>
			</div> 
			</div>
			
			</form>

			</div>
			</div>
		</div>
	</div>
	<br>

	<div id="divformS" align="center">
	<form action="/buscardatoT" id="formb" class="form-inline" role="formb">
		<div class="form-group">
			<label for="bnombre" class="col-sm-2 control-label">Buscar Producto:</label>   <!-- class propio del bootstrap -->
			<div class="col-sm-10">                                                      <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
				<input type="text" id="bnombre" name="bnombre" class="form-control">
				<input type="submit"  name="btnbuscar"  class="btn btn-primary" value="Buscar" id="btnbuscar"> 
				 <a type="button" id="btncrear" class="btn btn-success" value="Crear" id="btnagregar"  class="btn btn-principal">Ingresar Usuario <img src="static/img/btnAdd.png"> </a>     <!-- class es par ael estilo -->
			</div> 
		</div>
	</form>
	</div>
	
	
	<div class="table-responsive" id="divtablProducto">	
	<table class="table" id="tableproducto">                                         <!-- para poder lalmar luego con el id -->
		<thead> 
		<tr>
			<th>Codigo Porducto</th>
			<th>Nombre Producto</th>
			<th>Precio Producto</th>
			<th>Proveedro</th>
			<th>Fecha de Elaboración</th>
			<th>Fecha de Vencimiento</th>
			<th>Editar</th>
			<th>Eliminar</th>
			<th>Estado Ingreso</th>
		</tr>
		</thead>	
		<tbody>	
		{% for d in databdprod %}
		<tr>
			<td>{{d[1]}}</td>
			<td>{{d[2]}}</td>
			<td>{{d[3]}}</td>
			<td>{{d[4]}}</td>
			<td>{{d[5]}}</td>
			<td>{{d[6]}}</td>
			<td>
			<a id="btnmodificar" class="btn btn-info" href="/editardato?idpersona={{d[0]}}"> <img src="static/img/modificar.png" > </a>
			</td>
			<td>
			<a id="btneliminar"  class="btn btn-danger" href="/eliminardato?id_producto={{d[0]}}"> <img src="static/img/eliminar.png"> </a>
			</td>
			<td>
			<a id="btnagregar"  class="btn btn-principal" onmouseDown="alert('ESTE USUARIO YA ESTA INGRESADO')"> <img src="static/img/celphone.png"> </a>
			
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	
	
<script type="text/javascript">
	$('#tableproducto').DataTable({ <!--es para llamar a id de la tabla-->
		paginType:"bootstrapPager", 
		pagerSettings:{ searchOnEnter:true, <!--para buscar-->
			language: "Pagina ~ of paginas" 
			}
	}
	);
</script>

<script type="text/javascript">
	$('#bnombre').autocomplete({ <!--es para llamar a id de la tabla-->
		source:"/buscarautop", <!--Para enviar la url y llamar al url-->
		minLength:2
	});


</script>

<h4 align="center">
	<img src="static/Logo/cade.jpg" alt="Propiedad de PEDRO, FRACO, JONATHAN" width="100" height="100" />
</h4>

</body>



{% endblock %}



