{% extends 'main.html' %}
{% block contenido %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Venta</title>

<!-- Llamando a los estilos y librerias -->
<link href="static/css/jquery.dataTables.min.css" rel="stylesheet"><!-- Estilo de la tabla -->
<script src="static/js/jquery.dataTables.min.js"></script> <!-- Para la paginacion -->
<script src="static/js/bootstrapPager.min.js"></script><!-- para paginacion -->

<!-- auto busqueda -->
<link href="static/css/jquery-ui.min.css" rel="stylesheet">
<script src="static/js/jquery-ui.min.js"></script> 

<!--Para que salga el calendario-->
<link href="static/css/datepicker.css" rel="stylesheet">
<script src="static/js/bootstrap-datepicker.js"></script>


<!--Para Validar los campos -->
<link href="static/css/jquery.validity.css" rel="stylesheet">
<script src="static/js/jquery.validity.js"></script>


<script type="text/javascript">
<!--el ja query se debe colcoar siempre $ y numerar para llamar al id -->
$(function(){
	$('#btncrear').click(function(){<!--  -->
		$('#Panelrealizarventa').show(); <!--  -->
		$('#btncrear').hide(); <!-- para ocultar el boton-->
	}); 
	
	$('#btncancelar').click(function(){<!--  -->
		$('#Panelrealizarventa').hide();<!--  -->
		$('#btncrear').show(); <!-- para ocultar el boton-->
	});

	$('#fechaven').datepicker({
	      format:"yyyy-mm-dd"
    });
	
	$('#formV').validity(function(){
		$('#vendedor')
		 .require();
		
		$('#gestion')
		 .require();
		
		});
	
	$('#Panelrealizarventa').validity("input:text, textarea:textarea, select");
	
});
</script>
</head>
<body>
	<div id="Panelrealizarventa" style="display: none;"> <!-- no va a mostrar el panel esta oculto -->
		<div class="panel panel-primary"><!-- todo class es tomado desde el bootstrap -->
			<div class="panel-heading">
				<h3 class="panel-title">Formulario de Venta</h3> <!--Nombre del registro -->
			
			</div>
			<div class="panel-body">
			<div id="formAdd" aling="center">
			<form action="/addventa" method="post" id="formV" name="formV" 
			class="form-horizontal" role="form"> <!--estilos-->
			
			<div class="form-group">
			<label for="vendedor" class="col-sm-2 control-label">Vendedor:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="vendedor" name="vendedor" class="form-control">
			</div> 
			</div>
			
			<div class="form-group">
			<label  for="turno" class="col-sm-2 control-label">Turno:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
				<select name="turno" class="form-control">
					<option  value="1">Mañana</option>
					<option value="2">Tarde</option>
					<option value="3">Noche</option>
				</select>
			</div> 
			</div>
			
			<div class="form-group">
			<label for="fechaven" class="col-sm-2 control-label">Fecha Venta:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="fechaven" name="fechaven" class="form-control">
			</div> 
			</div>
			
			
			<div class="form-group">
			<label for="gestion" class="col-sm-2 control-label">Gestion:</label> <!-- class propio del bootstrap -->
			<div class="col-sm-10"> <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
			<input type="text" id="gestion" class="form-control" name="gestion">
			</div> 
			</div>
				
			<div class="form-group">
			<div class="col-sm-10">
				<h4 align="center">
				<input type="submit"  name="btnEnviar"  class="btn btn-success" value="Registrar"> 
				<input type="reset" name="btnLimpiar" class="btn btn-info" value="Limpiar">
				<input type="button" name="btnCancelar" id="btncancelar" class="btn btn-warning" value="Cancelar">
				</h4>
			</div> 
			</div>
			
			</form>

			</div>
			</div>
		</div>
	</div>
	<br>

	<div id="divformS" align="center">
	<form action="/buscardatov" id="formb" class="form-inline" role="formb">
		<div class="form-group">
			<label for="bnombre" class="col-sm-2 control-label">Buscar Vendedores:</label>   <!-- class propio del bootstrap -->
			<div class="col-sm-10">                                                      <!--los classs es para que pueda reenderizarse a la pantalla que vayamos a usar -->
				<input type="text"  id="bnombre" name="bnombre" class="form-control">
				<input type="submit"  name="btnbuscar"  class="btn btn-primary" value="Buscar" id="btnbuscar"> 
				<input type="button"  id="btncrear" class="btn btn-success" value="Crear">     <!-- class es par ael estilo -->
			</div> 
		</div>
	</form>
	</div>
	
	
	<div class="table-responsive" id="divtableventa">	
	<table class="table" id="tableventa">                                         <!-- para poder lalmar luego con el id -->
		<thead> 
		<tr>
			<th>Vendedor</th>
			<th>Turno</th>
			<th>Fecha de Venta</th>
			<th>Gestion</th>
		<!--<th>Editar</th>
			<th>Eliminar</th>
		 <th>Opciones</th> -->
					
		</tr>
		</thead>	
		<tbody>	
		{% for d in tablaven %}
		<tr>
			<td>{{d[1]}}</td>
			<td>{{d[2]}}</td>
			<td>{{d[3]}}</td>
			<td>{{d[4]}}</td>
		<!--	<td>
		 	<a id="btnmodificar" class="btn btn-info" href="/editardato?idpersona={{d[0]}}"> <img src="static/img/modificar.png" > </a>
			</td>
			<td>
			<a id="btneliminar"  class="btn btn-danger" href="/eliminardatov?id_cliente={{d[0]}}"> <img src="static/img/eliminar.png"> </a>
			</td>
			<td>
			<a id="btnagregar"  class="btn btn-danger" href="#"> <img src="static/img/btnAdd.png"> </a> 
			</td> -->
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	
	
<script type="text/javascript">
	$('#tableventa').DataTable({
		paginType:"bootstrapPager", 
		pagerSettings:{ searchOnEnter:true,
			language: "Pagina ~ of paginas" 
			}
	}
	);
</script>

<script type="text/javascript">
	$('#bnombre').autocomplete({ <!--es para llamar a id de la tabla-->
		source:"/buscarautov", <!--Para enviar la url y llamar al url-->
		minLength:2
	});


</script>

<h4 align="center">
	<img src="static/Logo/cade.jpg" alt="Propiedad de PEDRO.ABAD y Cristian Franco" width="100" height="100" />
</h4>

</body>



{% endblock %}



